<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Safari Connect Portal{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
        rel="shortcut icon"
        href="/static/resources/safari-icon2.svg"
        type="image/x-icon"
        />
    </head>
    <body>
        <div class="page-container">
            <main>{% block content %}{% endblock %}</main>

            <footer id="footer">
                <p>&copy; 2024 Safari Connect</p>
            </footer>
        </div>
        <script>
            const API_BASE_URL = "{{ rizz }}";
            const skibidi = "{{ skibidi }}";
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>
