<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Safari Connect Portal{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
        rel="shortcut icon"
        href="/static/resources/safari-connect-logo.png"
        type="image/x-icon"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
              integrity="OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="page-container">
            <main>{% block content %}{% endblock %}</main>

            <footer id="footer">
                <p>&copy; 2024 Safari Connect</p>
            </footer>
        </div>
        <script>
            const API_BASE_URL = "{{ rizz }}";
            const skibidi = "{{ skibidi }}";
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <script src="/static/redirectionManager.js"></script>
        <script src="/static/SubscriptionManager.js"></script>
    </body>
</html>
